@use '../../../abstract/variables' as *;
.cards-display {
  @include centered(column, space-evenly);
  @include highlightBackground;
  justify-content: space-evenly;
  height: 58vh;
  width: 40vw;
}

.cards-container {
  overflow-y: scroll;
  height: 53vh;
}

.no-match {
  @include errorBorder(20px)
}

.results-map-section {
  height: 97.8vh;
  width: 50vw;
  border-radius: 15px;
  text-align: center;
  @include centered(row, center);
  box-shadow: 0px 0px 0px 4px $borderYellow;
}

.results-section {
  @include centered(row, space-evenly);
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 836px) {
  .results-section {
    flex-direction: column;
    height: fit-content;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  .cards-display {
    width: 95vw;
    height: 45vh;
  }

  .results-map-section {
    width: 95vw;
    height: 80vh;
    margin-top: 1vh;
  }
}