@use '../../../abstract/variables' as *;
.cards-display {
  @include centered(column, space-evenly);
  @include highlightBackground;
  justify-content: space-evenly;
  height: 58vh;
  width: 98%;
}

.cards-container {
  overflow-y: scroll;
  height: 50vh;
}