@use '../../../abstract/variables' as *;
.cards-display {
  @include centered(column, space-evenly);
  @include highlightBackground;
  justify-content: space-evenly;
  height: 58vh;
  width: 40vw;
}

.cards-container {
  overflow-y: scroll;
  height: 50vh;
}

.no-match {
  @include errorBorder(20px)
}

.results-map-section {
  height: 95vh;
  width: 50vw;
}

.results-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}