@use '../../../abstract/variables' as *;

// whole page
.Details-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.background {
  @include highlightBackground;
}

// top 

.top {
  display: flex;
  justify-content: space-between;
  height: 45%;
  width: 95vw;
}

.details {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.distance {
  @include pillHighlight(20px);
  padding: 10px
}

.directions-button {
  @include pillButton;
  width: 21vw;
  height: 5vh;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 2em;
  margin: 1vh;
}

.details-map {
  border-radius: 15px;
  width: 55vw;
  text-align: center;
  @include centered(row, center);
  background-color: $borderYellow;
}

.back-to-main-button {
  @include pillButton;
  margin: 5px;
  padding: 5px 10px;
}

// bottom

.summary, .conclusion {
  height: 22vh;
  width: 95vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.address {
  @include pillHighlight(55px);
  max-width: 40vw;
  padding: 1vh 2vw;
  p {
   margin: .5vh; 
  }
}

.directions {
  max-width: 45vw;
}

.comment {
  padding: 5%;
}

.votes {
  @include pillHighlight(10px);
  padding: 2%;
}

@media screen and (min-width: 720px) {
  .icon-container {
    flex-direction: row;
  }
  .icon{
    margin: 3vw;
  }
}