$mainFont:'Dosis', sans-serif;
$mainTextNavy: #034277;
$highlightSalmon: #FFA69E;
$borderYellow: #F6C28B;
$buttonTeal: #31C6E0;
$opaque: rgb(234, 245, 246, .83);

@mixin centered($direction, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: center;
}

@mixin bodyFont {
  color: $mainTextNavy;
  font-family: $mainFont;
  font-size: 16px;
  font-weight: 400;
}

@mixin logoFont {
  color: $mainTextNavy;
  font-family: $mainFont;
  font-size: 70px;
  font-weight: 400;
}

@mixin highlightBackground {
  background-color: $opaque;
  border-radius: 15px;
  //I changed this from 20 to 15 to make it a little more square 
  //I thought it looked better witht he squared edges of the cards, but we can change it back if folks want
}

@mixin pillButton {
  background-color: $buttonTeal;
  border: none;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

@mixin pillHighlight($radius) {
  border: 2px solid $highlightSalmon;
  border-radius: $radius;
}

