@use '../../../abstract/variables' as *;

.results-header {
  height: 40vh;
  width: 90vw;
  @include highlightBackground;
  @include centered(column, center);
  h1 {
    @include logoFont;
  }
  img {
    height: 3vh;
  }
  .showing {
    font-weight: bold;
    font-size: 20px;
  }
}

.filterForm {
  height: 15vh;
  width: 95%;
  div {
    @include centered(row, space-between);
    .zip-input {
      width: 15vw;
    }
  }
  .changeButton {
    @include pillButton;
    height: 4vh;
    width: 25vw;
  }
}