@use '../../../abstract/variables' as *;

.results-header {
  margin-bottom: 5px;
  height: 40vh;
  width: 40vw;
  @include highlightBackground;
  @include centered(column, center);
  justify-content: space-around;
  h1 {
    @include logoFont;
  }
  img {
    height: 3vh;
  }
  .showing {
    font-weight: bold;
    font-size: 20px;
  }
}

.filterForm {
  @include centered(column, center);
  justify-content: space-around;
  height: 15vh;
  width: 95%;

  div {
    @include centered(row, space-between);
    align-items: space-between;
    width: 80%;
    .zip-input {
      width: 15vw;
    }
  }
  .changeButton {
    @include pillButton;
    height: 4vh;
    width: 25vw;
  }
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 836px) {
  .results-header {
    width: 95vw;
    margin-bottom: 1vh;
  }
}