@use '../../../abstract/variables' as *;

.result-card {
  @include pillHighlight(3px);
  @include centered(row, center);
  justify-content: space-between;
  background-color: #FDF5FB;
  height: 7vh;
  width: 38vw;
  margin: 1em;
  padding: 5px;
  img {
    height: 5vh;
  }

}